<%- include("partials/h_header") -%>
 <% let day=new Date().getDay()
            if(day>0){
                day=day-1
            }
         
         %>
<center>
    <h1> TimeTable </h1>
    <h3><a href="/">Home</a>/<a href=/branch/<%=data.branch %>><%= data.branch %> </a>/<a
            href="/branch/<%=data.branch %>/<%= data.sem %>/div/<%= data.sec %>/<%=day%>">SEM-<%= data.sem %></a>/<a href="/branch/<%=data.branch %>/<%= data.sem %>/div/<%= data.sec %>/<%= day%>">Div-<%= data.sec %></a>/<a href="/branch/<%=data.branch %>/<%= data.sem %>/div/<%= data.sec %>/<%= tt.dayno%>"><%= tt.day %></a>
    </h3>
    <hr>


    <div class="container">
        <div class="row">
            <div class="col d-grid gap-2 col-6 mx-auto">

                <div class="dropdown ">
                    <button class="btn btn-secondary ps-5 pe-5 dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Div-<%= data.sec %>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item"
                                href="/branch/<%=data.branch %>/<%= data.sem %>/div/A/<%= tt.dayno%>">Div-A</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="/branch/<%=data.branch %>/<%= data.sem %>/div/B/<%= tt.dayno%>">Div-B</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col d-grid gap-2 col-6 mx-auto">

                <div class="dropdown ">
                    <button class="btn btn-secondary ps-5 pe-5 dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <%= tt.day %>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item"
                                href="/branch/<%=data.branch %>/<%= data.sem %>/div/<%= data.sec %>/0">MON</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                 href="/branch/<%=data.branch %>/<%= data.sem %>/div/<%= data.sec %>/1">TUE</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                href="/branch/<%=data.branch %>/<%= data.sem %>/div/<%= data.sec %>/2">WED</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                href="/branch/<%=data.branch %>/<%= data.sem %>/div/<%= data.sec %>/3">THRU</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                href="/branch/<%=data.branch %>/<%= data.sem %>/div/<%= data.sec %>/4">FRI</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                href="/branch/<%=data.branch %>/<%= data.sem %>/div/<%= data.sec %>/5">SAT</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-bordered mb-5">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Class</th>

                </tr>
            </thead>
            <tbody>
                <% tt.subs.forEach(c=>{ %>
                <tr>
                    <th scope="row"><%= c.time %> </th>
                    <td><%= c.class %> </td>

                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
<!-- <hr> -->
<br><br>
<div class="row m-2 mt-5 mb-0 p-2 border bg-light shadow rounded fixed-bottom">
    <div class="d-grid gap-2 col-6 mx-auto ">
        <a href="/" class="btn btn-secondary">Home</a>
    </div>
    
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/branch/<%=data.branch %>" class="btn btn-secondary">Sem's</a>
    </div>

</div>
</center>

<%- include("partials/h_footer") -%>